@font-face{
    font-family:'Muna-Black' ;
    src: url('../fonts/MunaBlack.ttf');
}
@font-face{
    font-family:'Muna-Bold' ;
    src: url('../fonts/Muna-Bold.ttf');
}
@font-face{
    font-family:'Almarai-Bold' ;
    src: url('../fonts/Almarai-Bold.ttf');
}

body , .font-2{
    font-family:   'Times New Roman', Times, serif;
}

h1{
    font-size: 22px;
    font-family:'Almarai-Bold' ;
   color: #2A3A4A;
   padding-bottom: 5px;
   border-bottom: 2px solid #707070;
}
.form-check-label{
   /*  border-left: 2px solid #5f5f5f; */
    color: #6d6e71;
    padding: 0 5px;
}
.font {
    font-family:'Almarai-Bold' ;
   font-size: 18px;
   color: #212121;
}
.logo{
    border-bottom: 2px solid #1e3c28;
}

.img-job{
    border: 2px solid #1e3c28;
}
label , .font-2 , table th:not(.first table th ){
    color: #6d6e71;
     font-size: 17px; 
     font-family:'Muna-Black' ;

}

/* .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
} */
.cc{
    grid-template-columns: auto 1fr 1fr;
}
.mb_6{
    margin-bottom: -4px;
}
.table td, .table th{
    border: 1px solid #00ae4b;
    vertical-align: middle;
}
table {
    border-spacing: 0px !important;
}
.table-bordered{
    border: 2px solid #00ae4b;
}
.card-1{
    border: 2px solid #00ae4b;
}

.card-1 .d-grid:first-of-type{
    grid-template-columns: auto 1fr;
}
.card-1 .d-grid:last-of-type{
    grid-template-columns: auto auto auto auto auto auto auto ;
}
.first .form-check-input{
    position: absolute;
    top: 8%;
    right: 13px;
    border: 1px solid #535353;
}

.first th {
    background-color: #e8f3e7;
    position: relative;
    width: 50px;
}
.first th span{
    position: absolute;
    transform: rotate(-90deg);
    line-height: 0;
    width: 100%;
    right: 0px;
    top: 33%;
}
.form-check-input:checked {
    background-color: #66ad82;
    border-color: #66ad82;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
}
.form-check-input{
    width: 1.2em !important;
    height: 1.2em !important;
    margin-top: 0;
}
.form-check-input:focus {
    border-color: #66ad82;
    outline: 0;
    box-shadow: 0 0 0 .25rem #66ad8233;
}
.title h2{
    background: #acd8af;
    text-align: center;
    padding: 10px 30px;
    border-radius: 15px 15px 0 0;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    font-family:'Almarai-Bold' ;
}
.f-famliy{
    font-family:'Almarai-Bold' ;

}
/* .table-bordered{
    border: none !important;
} */
.form-control-plaintext{
    border-bottom: 1px dashed #222222;
}
textarea.form-control{
    border: 1px dashed #222222;

}
textarea.form-control:focus , textarea.form-control:active{
    box-shadow: none !important;
    border-color: #222222;
    outline: 0;
}
@media (max-width: 768px) {
    .card-1 .d-grid:last-of-type{
        grid-template-columns: auto auto auto ;
    }
    .title h2{
        font-size: 18px !important;
    }
    label, .font-2, table th:not(.first table th ) , .font{
        font-size: 16px !important;
    }
    .first th{
        padding: 10px 25px;
    }
    .first .form-check-input{
        position: absolute;
        top: 7%;
        right: 15px;
    }
    
}